<template>
	<div>
		<el-form>
			<el-form-item>
				<el-row :gutter="8">
					<el-col :span="12">
						<span>{{$t('address.state-code')}}</span>
						<el-input prefix-icon="el-icon-school" v-model="address.statecode"></el-input>
					</el-col>
					<el-col :span="12">
						<span>{{$t('address.zip-code')}}</span>
						<el-input prefix-icon="el-icon-postcard" v-model="address.zipcode"></el-input>
					</el-col>
				</el-row>
			</el-form-item>
			<el-form-item>
				<span>{{$t('address.address-name')}}</span>
				<el-input prefix-icon="el-icon-location" v-model="address.addressname"></el-input>
			</el-form-item>
		</el-form>
	</div>
</template>

<script>
	export default {
		name: 'Address',
		props: {
			address: Object
		},
		data() {
			return {
				rules: []
			}
		}
	}
</script>

<style lang="less" scoped>
</style>
