<template>
    <div>
        <!-- 从常用联系中选择预定航班的乘客 -->
        <el-row>
            {{$t('flights.customer')}}:
          <el-select v-model="passengers" multiple collapse-tags clearable placeholder="请选择乘客">
            <el-option v-for="(item, index) in contacts" :key="item.contactsId"
                :label="item.firstName + ' '+ item.lastName"
                :value="item.firstName + ' '+ item.lastName">
                <span style="float: left;">{{ item.firstName }}</span>
                <span style="float: right; margin-right: 20px;">{{ item.lastName }}</span>
            </el-option>
          </el-select>
        </el-row>
        <el-divider></el-divider>
        <el-row>
            <h1>{{$t('orders.orderInfo')}}</h1>
        </el-row>
        <el-row v-for="item in passengers" :key="item" style="margin-bottom: 30px;">
            <el-card shadow="hover">
                <el-row :gutter="8">
                    <el-col :span="6">
						No:<span>{{id}}</span>
					</el-col>
                    <el-col :span="6">
						{{$t('flights.number')}}: <span>{{number}}</span>
					</el-col>
                    <el-col :span="6">
						{{$t('flights.airlineCode')}}: <span>{{airlineCode}}</span>
					</el-col>
                    <el-col :span="6">
						{{$t('flights.departureGate')}}: <span>{{gate}}</span>
					</el-col>
                </el-row>
                <el-row>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        {{$t('flights.departureAirpot')}}:<h1 style="font-size: 40px;">{{departureAirpot}}</h1>
                        <span style="margin: 0px 60px;">--></span>
                        {{$t('flights.arrivalAirport')}}:<h1 style="font-size: 40px;">{{arrivalAirport}}</h1>
                    </div>
                </el-row>
                <el-row :gutter="8">
                    <el-col :span="8">
						{{$t('flights.price')}}: <span>{{price}}$</span>
					</el-col>
                    <el-col :span="8">
						{{$t('flights.customer')}}: <span>{{item}}</span>
					</el-col>
                    <el-col :span="8">
						{{$t('flights.miles')}}: <span>{{miles}}km</span>
					</el-col>                    
                </el-row>
            </el-card>
        </el-row>
        <!-- 选择支付方式 -->
        <!-- <el-row>
            <h1 style="margin-top: 60px">{{$t('payment.mode')}}</h1>
        </el-row>
        <el-row>
            <el-card shadow="hover">
                <el-row :gutter="8">
					<el-col :span="8">
						<span>{{$t('card.cardholder')}}</span>
						<el-input placeholder="持卡人(cardholder)" v-model="card.customer"></el-input>
					</el-col>
					<el-col :span="8">
						<span>{{$t('card.card-number')}}</span>
						<el-input placeholder="卡号(card number)" v-model="card.cardCode"></el-input>
					</el-col>
					<el-col :span="8">
						<span>{{$t('card.bank')}}</span>
						<el-input placeholder="银行(bank)" v-model="card.bank"></el-input>
					</el-col>
				</el-row>
            </el-card>
        </el-row> -->

        <el-row>
            <el-col :span="8" :offset="8">
                <el-button type="primary" round style="width: 100%; margin: 60px 0px;" icon="el-icon-news" @click="save()">{{$t('operation.save')}}</el-button>
            </el-col>
        </el-row>
    </div>
</template>

<script>
export default {
    name: 'Booking',
	data() {
		return {
            id: 'F202105110001',
            airlineCode: 'NH001',
			number: 'FS730',
            departureTime: '2021-05-16 09:32',
			arrivalTime: '2021-05-16 11:46',
            departureAirpot: 'Shenzhen',
            arrivalAirport: 'Hainan',
            gate: '50',
            price: '290',
            miles: '1100',
            customer: 'Guangwen LIAO',
            contacts: [
                {
                    contactsId: '100',
                    phone: '18680345680',
                    firstName: 'Guangwen',
                    lastName: 'LIAO',
                },
                {
                    contactsId: '102',
                    phone: '18680345626',
                    firstName: 'Ye',
                    lastName: 'YU',
                },
                {
                    contactsId: '104',
                    phone: '18680345678',
                    firstName: 'Wei',
                    lastName: 'Wu',
                }
            ],
            passengers: [],
            
            card: {
                customer: 'Guangwen LIAO',
                cardCode: '6214856553020325',
                bank: 'zhaoshangbank'
            }
		}
	},
    methods: {
        /* getName: (index) => {
            return this.contacts[index].firstName + ' ' + this.contacts[index].lastName;
        }, */
        save() {
            console.log('save')
        }
    }/* ,
    computed: {
        getName: (index) => {
            return this.contacts[index].firstName + ' ' + this.contacts[index].lastName;
        }
    } */
}
</script>

<style lang="less" scoped>

</style>