<template>
	<div>
		<el-form>			
			<el-form-item>
				<el-row :gutter="8">
					<el-col :span="8">
						<span>{{$t('card.cardholder')}}</span>
						<el-input placeholder="持卡人(cardholder)" v-model="card.customer"></el-input>
					</el-col>
					<el-col :span="8">
						<span>{{$t('card.card-number')}}</span>
						<el-input placeholder="卡号(card number)" v-model="card.cardCode"></el-input>
					</el-col>
					<el-col :span="8">
						<span>{{$t('card.bank')}}</span>
						<el-input placeholder="银行(bank)" v-model="card.bank"></el-input>
					</el-col>
				</el-row>
			</el-form-item>
			<el-form-item>
				<el-row :gutter="8">
					<el-col :span="12">
						<span>{{$t('card.effctive-date')}}</span>
						<el-input type="date" placeholder="开卡日期(effctive date)" v-model="card.effctiveDate"></el-input>
					</el-col>
					<el-col :span="12">
						<span>{{$t('card.expiration-date')}}</span>
						<el-input type="date" placeholder="失效日期(expiration date)" v-model="card.expirationDate"></el-input>
					</el-col>
				</el-row>
			</el-form-item>
			<el-form-item>
				<el-col>
					<span>{{$t('card.address')}}</span>
					<el-input placeholder="地址(Address)" v-model="card.address"></el-input>
				</el-col>
			</el-form-item>
		</el-form>
	</div>
</template>

<script>
	export default {
		name: 'Card',
		props: {
			card: Object
		},
		methods: {
			/* delCard() {
				console.log('deletecard')
				this.$emit('deletecard')
			} */
		}
	}
</script>

<style lang="less" scoped>
	
</style>
