<template>
	<div>
		<el-row :gutter="20" style="margin-bottom: 40px;">
			<el-col :span="8">
				<el-card shadow="hover" style="background-color: #409EFF;">
					<div class="total">
						<h1>{{totalOrders}}</h1>
						&nbsp;times &nbsp;<br>
						{{$t('total-orders')}}
					</div>
				</el-card>
			</el-col>
			<el-col :span="8">
				<el-card shadow="hover" style="background-color: #67C23A;">
					<div class="total">
						<h1>{{totalFlights}}</h1>&nbsp; times &nbsp;<br>
						{{$t('total-flights')}}
					</div>
				</el-card>
			</el-col>
			<el-col :span="8">
				<el-card shadow="hover" style="background-color: #E6A23C;">
					<div class="total">

						<h1>{{totalMileage}}</h1>&nbsp; km &nbsp;<br>
						{{$t('total-mileage')}}
					</div>
				</el-card>
			</el-col>
		</el-row>
		<el-divider></el-divider>
		
	</div>
</template>

<script>
	export default {
		name: "Dashboard",
		data() {
			return {
				totalOrders: 12,
				totalFlights: 18,
				totalMileage: 3200				
			}
		}
	}
</script>

<style lang="less" scoped>
	h1 {
		display: inline;
		font-size: 36px;
	}

	.total {
		text-align: center;
	}
</style>
