<template>
    <div>
        <el-row :gutter="8">
          <el-col :span="6"><el-input v-model="orderId" placeholder="订单编号"  prefix-icon="el-icon-tickets"></el-input></el-col>
          <el-col :span="6"><el-input v-model="departureCity" placeholder="起飞城市" prefix-icon="el-icon-map-location"></el-input></el-col>
          <el-col :span="6"><el-input v-model="arrivalCity" placeholder="到达城市" prefix-icon="el-icon-map-location"></el-input></el-col>
          <el-col :span="6">
              <!-- <el-date-picker type="datetimerange" v-model="" placeholder=""></el-date-picker> -->
          </el-col>
        </el-row>
        <el-row :gutter="8" style="margin: 10px 0px">			
			<el-col :span="12" :offset="12" style="display: flex; justify-content: flex-end;">
				<el-button type="primary" icon="el-icon-search" @click="search()">search</el-button>
				<el-button type="primary" icon="el-icon-check" @click="booking()">booking</el-button>
			</el-col>
		</el-row>
        <el-divider></el-divider>
		<el-row>
			<el-col :span="24">
				<!-- 显示航班列表 -->
				<el-table :data="items" style="width: 100%" border="" tooltip-effect="dark" fit highlight-current-row>
                    <el-table-column type="expand">
                        <template slot-scope="props">
                            登机口：{{ props.row.departure_gate }}<br>
                            头等舱容量：{{ props.row.first_class_capacity }}<br>
                            经济舱容量：{{ props.row.economy_class_capacity }}<br>
                            <el-button type="success" icon="el-icon-check" round @click="booking()">book flights</el-button></el-button></el-button>
                        </template>
                    </el-table-column>
				    <!-- <el-table-column width=50 label="" type="selection"></el-table-column> -->
				    <!-- <el-table-column width=80 :label="$t('flight_id')" prop="flight_id"></el-table-column> -->
				    <!-- <el-table-column width=120 label="airline_code" prop="airline_code"></el-table-column> -->
				    <el-table-column width=160 label="flight_number" prop="flight_number" sortable></el-table-column>
				    <el-table-column width=180 label="departure_time" prop="departure_time" sortable></el-table-column>
				    <el-table-column width=160 label="departure_airport" prop="departure_airport"></el-table-column>
				    <el-table-column width=140 label="arrival_time" prop="arrival_time" sortable></el-table-column>
				    <!--<el-table-column width=80 label="gate" prop="departure_gate"></el-table-column> 
				    <el-table-column width=140 label="first_capacity" prop="first_class_capacity"></el-table-column>
				    <el-table-column width=160 label="economy_capacity" prop="economy_class_capacity"></el-table-column> -->
				    <el-table-column width=160 label="first_price" prop="first_class_price" sortable></el-table-column>
				    <el-table-column width=160 label="economy_price" prop="economy_class_price" sortable></el-table-column>  
				    <el-table-column label="miles" prop="miles" sortable></el-table-column> 
				    <!-- <el-table-column label="operation" width="185" fixed="right" header-align="center" align="center">
				        <template slot-scope="scope">
				            <el-button label="booking" :size="75" @click="handleEdit(scope.$index, scope.row)" />
				        </template>
				    </el-table-column> -->
					<!-- <el-table-column label="operation">
						<el-button type="primary" icon="el-icon-edit" circle></el-button>
						<el-button type="success" icon="el-icon-check" circle></el-button>
						<el-button type="danger" icon="el-icon-delete" circle></el-button>
					</el-table-column> -->
				</el-table>
			</el-col>
		</el-row>
        
        <!-- <div class="list"> 
            <div class="operation">
                <el-input type="search" />
                <el-button type="primary" @click="search()">search</el-button>
                <el-button type="primary" @click="booking()">booking</el-button>
            </div>
        </div> -->
    </div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'Flights',
    data() {
        return {
            orderId: '',
            departureCity: '',
            arrivalCity: '',
            departureTime: '',
            arrivalTime: '',
            items:[ 
                {
                    flight_id: null, 
                    airline_code: '', 
                    aircraft_id: null, 
                    flight_number: '', 
                    departure_time: null, 
                    departure_airport: '', 
                    arrival_time: null, 
                    departure_gate: '', 
                    first_class_capacity: null, 
                    economy_class_capacity: null, 
                    first_class_price: null, 
                    economy_class_price: null, 
                    miles: null 
                }
            ]
        }
    },
    created() {
        //this.getFlights()
    },
    methods: {
        async getFlights() {
            axios.get('http://localhost:8088/flights/list').then(res => {
                if (res.data.code === 200) {
                    this.items = res.data.data
                    console.log(res.data)
                }
                else {
                    console.log(res.data)
                }
            })
        },
        search() {
            this.getFlights()
        },
        booking() {
            
        }
    }
}
</script>

<style lang="less" scoped>
.condition {
    background-color: aqua;
    padding: 10px;
}

.operation {
    padding: 10px;
    text-align: right;
}

.list {
    background-color: #ccc;
}
</style>