<template>
	<el-container>
		<el-header class="header">
			<el-row>
				<el-col :span="16">
					<div style="
              display: flex;
              justify-content: flex-start;
              align-items: center;
              height: 60px;">
						<el-image :src="logoUrl" style="height: 40px; width: 40px; "></el-image>
						<h3 style="display: inline; line-height: 60px">{{ $t("appName") }}</h3>
					</div>
				</el-col>
				<el-col :span="8">
					<div style="
              display: flex;
              justify-content: flex-end;
              align-items: center;
              height: 60px;
            " @click="openPersonalCenter()">
						<el-avatar style="display: inline-block; margin: 0 8px" :src="avatarUrl">
						</el-avatar>{{loginUser}}
						<el-select style="margin: 0 10px 0 60px; width: 100px" v-model="selectedLanguange"
							@change="selected()">
							<el-option v-for="item in languanges" :key="item.value" :label="item.label"
								:value="item.value">
							</el-option>
						</el-select>

						<el-tooltip :content="$t('operation.exit')" placement="bottom-end">
							<el-button type="danger" icon="el-icon-switch-button" circle @click="exit()"></el-button>
						</el-tooltip>
					</div>
				</el-col>
			</el-row>
		</el-header>
		<el-container>
			<el-aside>
				<el-menu :default-openeds="['1', '2', '3', '4']" default-active="1-1" active-text-color="#409EFF" style="height: 100%;">
					<el-submenu index="1">
						<template slot="title"><i
								class="el-icon-pie-chart"></i>{{ $t("main-menu.dashboard") }}</template>
						<el-menu-item index="1-1"><i class="el-icon-data-analysis"></i>
							<router-link :to="{ name: 'Dashboard' }">{{
                $t("main-menu.personal-kanban")
              }}</router-link>
						</el-menu-item>
					</el-submenu>
					<el-submenu index="2">
						<template slot="title"><i
								class="el-icon-shopping-cart-full"></i>{{ $t("main-menu.flight-management") }}</template>
						<el-menu-item index="2-1"><i class="el-icon-date"></i>
							<router-link :to="{ name: 'Flights' }">{{$t("main-menu.flight-schedule")}}</router-link>
						</el-menu-item>
						<el-menu-item index="2-2"><i class="el-icon-paperclip"></i>
							<router-link :to="{ name: 'booking' }">{{$t("main-menu.reserving-flights")}}</router-link>
						</el-menu-item>
						<el-menu-item index="2-3"><i class="el-icon-monitor"></i>
							<router-link :to="{ name: 'seats' }">{{ $t("main-menu.choose-seat") }}</router-link>
						</el-menu-item>
						<el-menu-item index="2-4"><i class="el-icon-house"></i>{{ $t("main-menu.cancel-reserving") }}
						</el-menu-item>
					</el-submenu>
					<el-submenu index="3">
						<template slot="title"><i
								class="el-icon-tickets"></i>{{ $t("main-menu.order-management") }}</template>
						<el-menu-item index="3-1"><i class="el-icon-search"></i>
							<router-link :to="{ name: 'orders' }">{{ $t("main-menu.order-inquiry") }}</router-link>
						</el-menu-item>
						<el-menu-item index="3-2"><i class="el-icon-money"></i>
							<router-link :to="{ name: 'payment' }">{{ $t("main-menu.payment-order") }}</router-link>
						</el-menu-item>
					</el-submenu>
					<el-submenu index="4">
						<template slot="title"><i
								class="el-icon-bank-card"></i>{{ $t("main-menu.mileage-management") }}</template>
						<el-menu-item index="4-1"><i class="el-icon-medal"></i>{{ $t("main-menu.mileage-inquiry") }}
						</el-menu-item>
						<el-menu-item index="4-2"><i class="el-icon-trophy"></i>{{ $t("main-menu.mileage-conversion") }}
						</el-menu-item>
					</el-submenu>
				</el-menu>
			</el-aside>
			<el-container>
				<el-main>
					<router-view />
				</el-main>
			</el-container>
		</el-container>
	</el-container>
</template>

<script>
	import mock from "@/mock/index.js";
	import axios from "axios";

	export default {
		name: "Home",
		data() {
			return {
				logoUrl: require("@/assets/logo.png"),
				avatarUrl: require('@/assets/avator.png'),
				loginUser: '',
				selectedLanguange: "en_us",
				languanges: [{
						label: "简体中文",
						value: "zh_cn",
					},
					{
						label: "English",
						value: "en_us",
					},
				],
			};
		},
		components: {},
		created() {
			//
			let user = sessionStorage.getItem('user')
			if (user) {
				this.loginUser = user
			} else {
				this.loginUser = ''
			}
		},
		methods: {
			selected() {
				if (this.selectedLanguange) {
					this.$i18n.locale = this.selectedLanguange;
				}
			},
			settingLanguage(lang) {
				lang === "" ? "zh_cn" : lang;
				this.$i18n.locale = lang;
				console.log("language");
			},
			exit() {
				sessionStorage.setItem("user", "");
				this.$router.push("/login");
			},
			openPersonalCenter() {
				this.$router.push("/personal");
			}
		},
	};
</script>

<style lang="less" scoped>
	.header {
		background-color: #409eff;
		color: #ffffff;
		margin-bottom: 8px;
		border-bottom: 1px solid #ccc;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
	}

	a {
		text-decoration: none;
	}
</style>
