<template>
  <el-container>
    <el-main>
      <el-row>
        <el-col :span="8" style="height: 120px;"></el-col>
      </el-row>
      <el-row>
        <el-col :span="8" :offset="8">
          <el-card shadow="always">
            <el-form
              :model="eform"
              :rules="erules"
              ref="eform"
              label-width="80px"
            >
              <el-form-item> </el-form-item>
              <el-form-item label="email" prop="email">
                <el-input 
				:placeholder="$t('placeholder.inputEmail')"
				prefix-icon="el-icon-user"
				v-model="eform.email"></el-input>
              </el-form-item>
              <el-form-item label="password" prop="password">
                <el-input
                  :placeholder="$t('placeholder.inputPassword')"
                  prefix-icon="el-icon-lock"
                  v-model="eform.password"
                  show-password
                ></el-input>
              </el-form-item>
              <el-form-item>
                <el-row :gutter="8">
                  <el-col :span="12">
                    <el-button
                      style="width: 100%;"
                      type="primary"
                      @click="submitFrom('eform')"
                    >
                      {{ $t("operation.login") }}</el-button
                    >
                  </el-col>
                  <el-col :span="12">
                    <el-button
                      style="width: 100%;"
                      type="primary"
                      @click="resetForm('eform')"
                      >{{ $t("operation.reset") }}</el-button
                    >
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="8" :offset="16">
                    <el-button
                      type="text"
                      @click="register()"
                      class="btnRegister"
                    >
                      {{ $t("operation.register") }}</el-button
                    >
                  </el-col>
                </el-row>
              </el-form-item>
              <el-form-item>
                <el-col :span="16" :offset="4">
                  <span>Guangwen LIAO, Wei WU, Ye YU</span><br />
                  <span>IIT CS425 - Class Project</span>
                </el-col>
              </el-form-item>
            </el-form>
          </el-card>
        </el-col>
      </el-row>
    </el-main>
  </el-container>
</template>

<script>
import router from "@/router";

export default {
  data() {
    return {
      eform: {
        email: "",
        password: "",
      },
      erules: {
        email: [
          {
            required: true,
            message: "email is not empty",
            trigger: "blur",
          },
          {
            min: 1,
            max: 30,
            message: "account length is between 1 and 30",
            trigger: "blur",
          },
        ],
        password: [
          {
            required: true,
            message: "password is not empty",
            trigger: "blur",
          },
          {
            min: 1,
            max: 30,
            message: "password length is between 1 and 30",
            trigger: "blur",
          },
        ],
      },
    };
  },
  methods: {
    submitFrom(eform) {
      console.log("submit form");
      let userInfo = {
        email: this.eform.email,
        password: this.eform.password,
      };
      this.$refs[eform].validate((valid) => {
        if (valid) {
          //调用后台登录接口，如果成功，则保存用户到本地会话
          sessionStorage.setItem("user", userInfo.email);
          router.push("/");
        } else {
          console.log("error, can not submit.");
          return false;
        }
      });
    },
    resetForm(eform) {
      console.log("reset form");
      this.$refs[eform].resetFields();
    },
    register() {
      this.$router.push("/register");
    },
  },
};
</script>

<style lang="less" scoped>
.btnLogin {
  width: 100%;
}

.btnRegister {
  width: 50%;
  text-align: right;
}

.span {
  text-align: center;
}
</style>
