<template>
  <div class="site-content-wrapper">
    <div class="site-content">
      <h2 class="not-found-title">404</h2>
      <p class="not-found-desc">{{ $t("notFoundDesc") }}</p>
      <el-button @click="$router.go(-1)">{{ $t("goBack") }}</el-button>
      <el-button type="primary" @click="$router.push('/')">{{$t("goHome")}}</el-button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Lost",
};
</script>

<style lang="less" scoped>
.site-content-wrapper {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.site-content {
  position: fixed;
  top: 15%;
  left: 50%;
  z-index: 2;
  padding: 30px;
  text-align: center;
  transform: translate(-50%, 0);
}

.not-found-title {
  margin: 20px 0 15px;
  font-size: 8em;
  font-weight: 500;
  color: rgb(55, 71, 79);
}

.not-found-desc {
  margin: 0 0 30px;
  font-size: 26px;
  text-transform: uppercase;
  color: rgb(118, 131, 143);
}
</style>