<template>
	<div>
		<el-row :gutter="8">
			<el-form :model="form" :rules="rules">
				<el-form-item>
					<el-row :gutter="8">
						<el-col :span="8">
							{{ $t('orders.orderid')
							}}<el-input suffix-icon="el-icon-search" v-model="form.orderId"
								:placeholder="$t('orders.orderid')"></el-input>
						</el-col>
						<el-col :span="8">
							<span>{{ $t('orders.departureTime') }}</span>
							<el-input type="date" v-model="form.departureTime" :placeholder="$t('orders.departureTime')">
							</el-input>
						</el-col>
						<el-col :span="8">
							<span>{{ $t('orders.arrivalTime') }}</span>
							<el-input type="date" v-model="form.arrivalTime" :placeholder="$t('orders.arrivalTime')">
							</el-input>
						</el-col>
					</el-row>
				</el-form-item>
				<el-form-item>
					<div style="display: flex; justify-content: flex-end;">
						<el-button type="primary" round icon="el-icon-search">{{
							$t('operation.search')
							}}</el-button>
						<el-button type="primary" round icon="el-icon-refresh">{{
							$t('operation.reset')
							}}</el-button>
					</div>
				</el-form-item>
			</el-form>
		</el-row>
		<el-row>
			<el-table :data="orderlist">
				<el-table-column>
					<template slot-scope="scope">
						<el-card shadow="hover">
							<el-row :gutter="8">
								<el-col :span="6">{{ $t('orders.orderid') }}：{{ scope.row.orderId }}</el-col>
								<el-col :span="6">{{ $t('orders.departureCity') }}：{{
									scope.row.departureCity
									}}</el-col>
								<el-col :span="6">{{ $t('orders.arrivalCity') }}：{{
									scope.row.arrivalCity
									}}</el-col>
								<el-col :span="6">{{ $t('orders.totalPrice') }}：{{
									scope.row.totalPrice
									}}</el-col>
							</el-row>
							<el-row :gutter="8">
								<div style="display: flex; justify-content: center; align-items: center;">
									{{ $t('orders.departureTime') }}：
									<h1 style="font-size: 32px;">
										{{ scope.row.departureTime }}
									</h1>
									<span style="margin: 0px 40px;">--></span>
									{{ $t('orders.arrivalTime') }}：
									<h1 style="font-size: 32px;">{{ scope.row.arrivalTime }}</h1>
								</div>
							</el-row>
							<el-row :gutter="8">
								<div style="display: flex; justify-content: flex-end;">
									<el-button round icon="el-icon-search" @click="cancelBooking()">{{
										$t('operation.unbooking') }}</el-button>
									<el-button round icon="el-icon-refresh" @click="pay()">{{
										$t('operation.pay')
										}}</el-button>
								</div>
							</el-row>
						</el-card>
					</template>
				</el-table-column>
			</el-table>
		</el-row>
	</div>
</template>

<script>
	export default {
		name: 'Orders',
		data() {
			return {
				form: {
					orderId: '',
					departureTime: '',
					arrivalTime: '',
				},
				rules: {

				},
				orderlist: [
					{
						orderId: 'GJ-202105090001',
						customerId: '',
						payNo: 'p001',
						status: '1',
						departureTime: '2021-05-09 09:25',
						arrivalTime: '2021-05-09 11:26',
						departureCity: 'Shenzhen',
						arrivalCity: 'Hainan',
						creationTime: '2021-05-09 09:25',
						totalPrice: '490.46',
					},
					{
						orderId: 'GN-202105090002',
						customerId: '',
						payNo: 'p001',
						status: '1',
						departureTime: '2021-05-09 09:25',
						arrivalTime: '2021-05-09 11:26',
						departureCity: 'Shenzhen',
						arrivalCity: 'Hainan',
						creationTime: '2021-05-09 09:25',
						totalPrice: '490.46',
					},
				],
			};
		},
		methods: {
			cancelBooking() {
				console.log('cancel booking');
			},
			pay() {
				console.log('pay');
			},
		},
	};
</script>

<style></style>