<template>
  <div>
    <el-row>
      <el-col :span="24">
        <el-card shadow="hover">
          <el-row :gutter="8">
            <el-col :span="6">{{ $t('orders.orderid') }}：{{ orderId }}</el-col>
            <el-col :span="6"
              >{{ $t('orders.departureCity') }}：{{ departureCity }}</el-col
            >
            <el-col :span="6"
              >{{ $t('orders.arrivalCity') }}：{{ arrivalCity }}</el-col
            >
            <el-col :span="6"
              >{{ $t('orders.totalPrice') }}：{{ totalPrice }}$</el-col
            >
          </el-row>
          <el-row :gutter="8">
            <div
              style="display: flex; justify-content: center; align-items: center;"
            >
              {{ $t('orders.departureTime') }}：
              <h1 style="font-size: 32px;">{{ departureTime }}</h1>
              <span style="margin: 0px 40px;">--></span>
              {{ $t('orders.arrivalTime') }}：
              <h1 style="font-size: 32px;">{{ arrivalTime }}</h1>
            </div>
          </el-row>
          <el-row :gutter="8">
            <div
              style="display: flex; justify-content: center; align-items: center;"
            >
              <span>{{ $t('card.card-number') }}</span>

              <el-select
                v-if="picked"
                v-model="cardCode"
                placeholder="$t('card.card-number'"
              >
                <div
                  style="display: flex; justify-content: center; align-items: center; margin: 20px;"
                >
                  <el-option
                    v-for="item in cards"
                    :label="item.cardCode"
                    :value="item.cardCode"
                    :key="item.cardCode"
                  ></el-option>
                </div></el-select>
                <el-input
                  type="text"
                  v-else="picked"
                  :placeholder="$t('card.card-number')"
                  v-model="cardCode"
                ></el-input>
              
              <el-button
                type="success"
                circle
                icon="el-icon-edit"
                style="margin: 0 20px;"
                @click="isPick()"
              ></el-button>
            </div>
          </el-row>
          <el-row :gutter="8">
            <div
              style="display: flex; justify-content: center; margin: 30px 0px;"
            >
              <el-button type="primary" round icon="el-icon-ok" @click="ok()">{{
                $t('operation.ok')
              }}</el-button>
              <el-button
                type="primary"
                round
                icon="el-icon-cancel"
                @click="cancel()"
                >{{ $t('operation.cancel') }}
              </el-button>
            </div>
          </el-row>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: 'Payment',
  data() {
    return {
      picked: false,
      cards: [
        {
          cardCode: '6214856563027563',
          address: '深圳市',
          customer: 'Junlin Tang',
          bank: '招商银行',
          effctiveDate: '2018-05-19',
          expirationDate: '2014-12-30',
        },
        {
          cardCode: '6214856563027342',
          address: '深圳市',
          customer: 'Junlin Tang',
          bank: '招商银行',
          effctiveDate: '2018-05-19',
          expirationDate: '2014-12-30',
        },
      ],

      cardCode: '6214856563027563',
      orderId: 'GJ-202105090001',
      departureCity: 'Shenzhen',
      arrivalCity: 'Hainan',
      totalPrice: '480',
      departureTime: '2021-05-12 08:45',
      arrivalTime: '2021-05-12 11:25',
    };
  },
  methods: {
    isPick() {
      this.picked = true;
      console.log('is pick');
    },
    ok() {
      console.log('pay ok');
    },
    cancel() {
        this.picked = false;
      console.log('pay cancel');
    },
  },
};
</script>

<style lang="less" scoped></style>
