<template>
	<div>
		<el-row>
			<h3>{{$t('placeholder.basic-info')}}</h3>
			<el-divider></el-divider>
		</el-row>
		<el-row :gutter="8">
			<el-col :span="8">
				<el-image :src="picUrl" style="height: 230px;"></el-image>
			</el-col>
			<el-col :span="16">
				<el-form>
					<el-form-item>
						<el-col :span="12">
							<el-input prefix-icon="el-icon-user" placeholder="姓(Surname)" v-model="firstName"></el-input>
						</el-col>
						<el-col :span="12">
							<el-input placeholder="名(Given name)" v-model="lastName"></el-input>
						</el-col>
					</el-form-item>
					<el-form-item>
						<el-col :span="12">
							<el-radio-group v-model="gender">
								<el-radio :label="0">男(male)</el-radio>
								<el-radio :label="1">女(female)</el-radio>
							</el-radio-group>
						</el-col>
						<el-col :span="12">
							<el-input type="date" placeholder="出生日期(birth)" v-model="birth"></el-input>
						</el-col>
					</el-form-item>
					<el-form-item>
						<el-col :span="12">
							<el-select v-model="selectedIdType" placeholder="请选择证件类型" style="width: 100%;">
								<el-option v-for="item in options" :key="item.value" :label="item.label"
									:value="item.value"></el-option>
							</el-select>
						</el-col>
						<el-col :span="12">
							<el-input prefix-icon="el-icon-bank-card" placeholder="证件号码(ID Number)" v-model="identityNumber"></el-input>
						</el-col>
					</el-form-item>
					<el-form-item>
						<el-col>
							<el-input prefix-icon="el-icon-message" placeholder="邮箱(Email)" v-model="email"></el-input>
						</el-col>
					</el-form-item>
				</el-form>
			</el-col>
		</el-row>

		<el-row>
			<h3>{{$t('placeholder.extend-info')}}</h3>
			<el-divider></el-divider>
		</el-row>
		<el-row>
			<el-tabs v-model="activeName" @tab-click="handleClick">
				<!-- 信用卡组件 -->
				<el-tab-pane name="first">
					<span slot="label"><i class="el-icon-bank-card"></i> {{$t('module.card')}}</span>
					<el-row style="margin-bottom: 20px;">
						<el-button type="primary" round icon="el-icon-news" @click="addCard()">{{$t('operation.add-card')}}</el-button>
						<el-button type="primary" round icon="el-icon-delete" @click="batchDeleteCard()">{{$t('operation.batch-delete-card')}}</el-button>
					</el-row>
					<el-row>
						<el-card style="padding: 20px 10px; margin-bottom: 30px;" shadow="hover"
							v-for="(cardItem, index) in cards" :key="index">
							<Card :card="cardItem"></Card>
							<el-col style="margin: 10px 0px; display: flex; justify-content: flex-start;">
								<el-tooltip :content="$t('operation.delete')" placement="bottom-end">
									<el-button type="danger" circle icon="el-icon-delete" @click="deleteCard(index)"></el-button>
								</el-tooltip>
								<el-tooltip :content="$t('operation.save')" placement="bottom-end">
									<el-button type="success" circle icon="el-icon-check" @click="saveCard(index)"></el-button>
								</el-tooltip>
							</el-col>
						</el-card>
					</el-row>
				</el-tab-pane>
				<!-- 地址组件 -->
				<el-tab-pane name="second">
					<span slot="label"><i class="el-icon-place"></i> {{$t('module.address')}}</span>
					<el-row style="margin-bottom: 20px;">
						<el-button type="primary" round icon="el-icon-news" @click="addAddress()">
							{{$t('operation.add')}}  {{$t('module.address')}}</el-button>
						<el-button type="primary" round icon="el-icon-delete" @click="batchDeleteAddress()">
							{{$t('operation.batchDelete')}}  {{$t('module.address')}}
						</el-button>
					</el-row>
					<el-row>
						<el-card style="padding: 20px 10px; margin-bottom: 30px;" shadow="hover"
							v-for="(addressItem, index) in addresses" :key="index">
							<Address :address="addressItem"></Address>
							<el-col style="margin: 10px 0px; display: flex; justify-content: flex-start;">
								<el-tooltip :content="$t('operation.delete')" placement="bottom-end">
									<el-button type="danger" circle icon="el-icon-delete" @click="deleteAddress(index)"></el-button>
								</el-tooltip>
								<el-tooltip :content="$t('operation.save')" placement="bottom-end">
									<el-button type="success" circle icon="el-icon-check" @click="saveAddress(index)"></el-button>
								</el-tooltip>
							</el-col>
						</el-card>
					</el-row>
				</el-tab-pane>
				<!-- 常用乘客组件 -->
				<el-tab-pane name="third">
					<span slot="label"><i class="el-icon-user"></i> {{$t('module.passenger')}}</span>

				</el-tab-pane>
			</el-tabs>
		</el-row>
	</div>
</template>

<script>
	import Card from './Card'
	import Address from './Address'

	export default {
		name: 'Personal',
		data() {
			return {
				picUrl: require('@/assets/pic.jpg'),
				firstName: 'Guangwen',
				lastName: 'LIAO',
				gender: 0,
				birth: '1982-08-19',
				options: [{
						value: '1',
						label: 'passport'
					},
					{
						value: '2',
						label: 'drivingNum'
					},
					{
						value: '3',
						label: 'SSN'
					}
				],
				selectedIdType: '',
				identityNumber: '',
				email: 'gliao@hawk.iit.edu',

				activeName: 'first',

				cards: [{
					cardCode: '6214856563027563',
					address: '深圳市',
					customer: 'Junlin Tang',
					bank: '招商银行',
					effctiveDate: '2018-05-19',
					expirationDate: '2014-12-30'
				}],
				
				addresses: [{
					addressId: '1',
					statecode: 'A-001',
					zipcode: '518000',
					addressname: '深圳市龙岗区坂田街道'
				}]
			}
		},
		components: {
			Card,
			Address
		},
		methods: {
			handleClick(tab, event) {
				console.log(tab, event);
			},
			addCard() {
				this.cards.push({
					cardCode: '',
					address: '',
					customer: '',
					bank: '',
					effctiveDate: '',
					expirationDate: ''
				})
				console.log(this.cards)
			},
			batchDeleteCard() {
				this.cards.splice(0, this.cards.length)
				console.log('batch delete cards')
			},
			deleteCard(index) {
				this.cards.splice(index, 1)
				console.log('delete card item')
			},
			saveCard(index) {
				
				console.log('save card item')
			},
			
			addAddress(){
				this.addresses.push({
					addressId: '',
					statecode: '',
					zipcode: '',
					addressname: ''
				})
				console.log('add address')
			},
			batchDeleteAddress() {
				this.addresses.splice(0, this.addresses.length)
				console.log('batch delete address')
			},
			deleteAddress(index) {
				this.addresses.splice(index, 1)
				console.log('delete address')
			},
			saveAddress(index) {
				
				console.log('save address')
			}
		}
	}
</script>

<style lang="less" scoped>

</style>
