<template>
  <div>
    <el-row>
      <el-col style="height: 120px;"> </el-col>
    </el-row>
    <el-row>
      <el-col :span="8" :offset="8">
        <el-form ref="form" :model="form">
          <el-form-item>
            <el-input
              type="text"
              :placeholder="$t('placeholder.inputEmail')"
              prefix-icon="el-icon-message"
              v-model="form.email"
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-input
              type="text"
              :placeholder="$t('placeholder.first-name')"
              prefix-icon="el-icon-user"
              v-model="form.firstName"
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-input
              type="text"
              :placeholder="$t('placeholder.last-name')"
              prefix-icon="el-icon-user"
              v-model="form.lastName"
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-input
              type="password"
              :placeholder="$t('placeholder.inputPassword')"
              prefix-icon="el-icon-lock"
              v-model="form.password"
              autocomplete="off"
              show-password
            >
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="register()" class="btnreg"
              >{{ $t("operation.register") }}
            </el-button>
          </el-form-item>
          <el-form-item>
            <el-button type="text" @click="link()" class="btnlink">{{
              $t("message.registered")
            }}</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: "Register",
  data() {
    return {
      form: {
        email: "",
        firstName: "",
        lastName: "",
        password: "",
      },
    };
  },
  methods: {
    register() {
      console.log("register success");
    },
    link() {
      this.$router.push("/login");
    },
  },
};
</script>

<style lang="less" scoped>
.btnreg {
  width: 100%;
}

.btnlink {
  width: 100%;
  text-align: center;
}
</style>
