<template>
  <div>
    <el-row>
      <div style="display: flex; justify-content: flex-end; margin-right: 30px;">
        <el-button type="primary" round icon="el-icon-finished" @click="save()">提交</el-button>
      </div>
    </el-row>
    <el-row :gutter="8">
      <el-col :span="12">订单号：{{ orderCode }}</el-col>
      <el-col :span="12">航班：{{ flights }}</el-col>
    </el-row>
    <el-row :gutter="8">
      <el-col :span="8">名：{{ firstName }}</el-col>
      <el-col :span="8">姓：{{ lastName }}</el-col>
      <el-col :span="8">电话：{{ phone }}</el-col>
    </el-row>
    <el-divider></el-divider>
    <el-row
      style="display: flex; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap;"
    >
      <el-card
        v-for="(item, index) in seats"
        :key="index"
        shadow="hover"
        class="defaultCard"
      >
        <el-row>
          <el-col>
            <i class="el-icon-lock" v-if="item.contactsId!==customerId && item.status===1"></i><span v-if="item.level === 1">头等舱</span>
            <span v-else>经济舱</span>
          </el-col>
        </el-row>
        <el-row>
          <div
            style="display: flex; justify-content: center; font-weight: bold;"
          >
            <h1>{{ item.seatNo }}</h1>
          </div>
        </el-row>
        <el-row>
          <div style="display: flex; justify-content: center;">
            <div v-if="item.status === 1">
              <span style="margin-right: 10px;">已选座</span>
              <el-tooltip content="取消" placement="top"><el-button v-if="item.contactsId===customerId" type="danger" circle icon="el-icon-close" @click="uncheck(index)"></el-button></el-tooltip>
            </div>
            <div v-else>
              <span style="margin-right: 10px;">可选</span>
              <el-tooltip content="选座" placement="top">
                <el-button
                  type="success"
                  circle
                  icon="el-icon-check"
                  @click="check(index)"
                ></el-button>
              </el-tooltip>
            </div>
          </div>
        </el-row>
      </el-card>
    </el-row>
  </div>
</template>

<script>
export default {
  name: 'Seats',
  data() {
    return {
      flights: 'FA001',
      orderCode: 'D202105120001',
      customerId: 'C0001',
      firstName: 'Guangwen',
      lastName: 'LIAO',
      phone: '18680345680',
      seats: [
        {
          flights: 'FA001',
          contactsId: 'C0002',
          level: 1,
          seatNo: '1A',
          status: 1,
        },
        {
          flights: 'FA001',
          contactsId: '',
          level: 1,
          seatNo: '1B',
          status: 0,
        },
        {
          flights: 'FA001',
          contactsId: 'C0003',
          level: 1,
          seatNo: '1C',
          status: 1,
        },
        {
          flights: 'FA001',
          contactsId: '',
          level: 1,
          seatNo: '1D',
          status: 0,
        },
        {
          flights: 'FA001',
          contactsId: '',
          level: 2,
          seatNo: '32A',
          status: 0,
        },
        {
          flights: 'FA001',
          contactsId: '',
          level: 2,
          seatNo: '32B',
          status: 0,
        },
        {
          flights: 'FA001',
          contactsId: '',
          level: 2,
          seatNo: '32C',
          status: 0,
        },
        {
          flights: 'FA001',
          contactsId: 'C0011',
          level: 2,
          seatNo: '32D',
          status: 1,
        },
        {
          flights: 'FA001',
          contactsId: 'C0015',
          level: 2,
          seatNo: '33A',
          status: 1,
        },
        {
          flights: 'FA001',
          contactsId: '',
          level: 2,
          seatNo: '33B',
          status: 0,
        },
      ],
    };
  },
  methods: {
    check(index) {
      this.seats[index].status = 1;
      this.seats[index].contactsId = this.customerId;
      console.log('选座成功');
    },
    uncheck(index) {
      this.seats[index].status = 0;
      this.seats[index].contactsId = '';
      console.log('取消选座成功');
    },
    save(){
      console.log('提交成功');
    }
  },
};
</script>

<style lang="less" scoped>
.defaultCard {
  /* background-color: #67C23A; */
  margin: 10px;
  padding: 5px;
  width: 240px;
  height: 160px;
}

pickedCard {
  background-color: #909399;
}
</style>
